# CONFIGURACIÓN DEL ALUMNO
alumno_id = "XXXX-XXXX" #cambiar <nombre>-<apellido> 

# CONFIGURACIÓN DE INFRAESTRUCTURA COMPARTIDA
aws_region = "us-east-1"
vpc_id = "vpc-02eec3783650326c7"
private_subnet_ids = [
  "subnet-056f98d0b493e90a8",
  "subnet-0e59ea0246d9492d8"
]
lambda_security_group_id = "sg-02624da83766fdf82"
opensearch_endpoint = "vpc-taller-ia-bskhl3itnogp6tcae74pbh2lbe.us-east-1.es.amazonaws.com"
opensearch_domain_arn = "arn:aws:es:us-east-1:013046900635:domain/taller-ia"